.App {
  text-align: center;
  background-color: #d7e0f1;
}

.App-img-container{
  display:flex;
  justify-content: center;
  margin-top: 10vh;
}

.App-img{
  display:flex;  
  width: 40%;
  flex-direction: row;
  justify-content: space-evenly;
  
}


.App-header {
  
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1em;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  font-family: Merriweather;
  color: #000;
}


.App-intro {
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 3vmin);
  font-family: Merriweather;
  letter-spacing: 2px;
  color:#000;
}

.App-intro-more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.App-intro-dash{
  display: block;
  justify-content: flex-end;
  height: auto;
  width: 10vh;
  animation: App-test-div-flash infinite 2s linear;
}

.App-test {
  display: flex;
}

.App-link {
  color: #61dafb;
}

.App-test-div {
  display: block;
  background-color: #61dafb;
  height: 10vh;
  width: 10vh;
  animation: App-test-div-flash infinite 2s linear;
}
.Blog-Post-Container{
  height: 20vh;
  width: auto;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

@keyframes App-test-div-flash {
  50% {
    opacity: 0;
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
